{% extends "time_app/base.html" %}
{% block content %}
<h2>Time Submissions for {{user.username}}</h2>
    {% for post in posts %}
        {% if post.user.username == user.username %}
            <article class="media content-section">
            
            <div class="media-body">
                <div>
                <span><h1>{{post.client.client}}</h1>
                <h3> {{post.project_name.project_name}}</h3></span>
                <h3> {{post.user.username}}</h3></span>
                </div>
                <h3>{{post.time_spent}} hours</h3>
                <h4>{{post.date}}</h4> 
                <p class="article-content">notes: {{post.notes}}</p>
            </div>
                
        </article>
        {% endif %}
    {% endfor %}   
    <h2>Time Submissions for All</h2>
    {% for post in posts %}
        <article class="media content-section">
            
            <div class="media-body">
                <div>
                <span><h1>{{post.client.client}}</h1>
                <h3> {{post.project_name.project_name}}</h3></span>
                <h3> {{post.user.username}}</h3></span>
                </div>
                <h3>{{post.time_spent}} hours</h3>
                <h4>{{post.date}}</h4> 
                <p class="article-content">notes: {{post.notes}}</p>
            </div>
                
        </article>
    {% endfor %}
    
    {% endblock content %}
    
