{% extends "time_app/base.html" %}
{% block content %}
<h2>Time Submissions for {{user.username}}</h2>
    {% for post in posts %}
        {% if post.user.username == user.username %}
            <article class="media content-section">
                <div class="media content">
                    <div class="float-left" >
                    <span><p>{{post.client.name}}</p>
                    <p> {{post.project.name}}<p></span>
                    </div>

                    {% comment %} <p> {{post.user.username}}</p> {% endcomment %}
                    <div class="ml-5">
                    <a class= "article-title" href="{% url 'post-detail' post.id %}"> <p>{{post.time_spent}} hours</h3></a>
                    <p>{{post.date}}</p> 

                    </div>
                    <p class="article-content ml-5">notes: {{post.notes}}</p>
                </div>
            </article>
        {% endif %}
    {% endfor %}   
    
    
    {% endblock content %}
    
