{% extends "time_app/base.html" %}
{% block content %}
<h2>Time Submissions for {{user.username}}</h2>
    {% for post in posts %}
        <article class="media content-section">
            
            <div class="media-body">
                {% comment %} <h1>client : {{post.client.client}}</h1>
                <h3>   {{post.client.project_name}}</h3>
                <h3>{{post.time_spent}}</h3>
                <h3>notes: {{post.notes}}</h3>
                <h3>{{post.date}}</h3> {% endcomment %}
            </div>
                
        </article>
    {% endfor %}
    
    {% endblock content %}
    
