{% extends "time_app/base.html" %}

{% block content %}
    <h2>Time Submissions for All</h2>

    {% for post in posts %}
        <article class="media content-section">
            
            <div class="media-body">
                <div>
                <span><h1>{{post.client.client}}</h1><h3> {{post.project_name.project_name}}</h3></span>
                <a href=""> <h3> {{post.user.username}}</h3> </a> 
                </div>
                <a class= "article-title" href="{% url 'post-detail' post.id %}"> <h3>{{post.time_spent}} hours</h3></a>
                <h4>{{post.date}}</h4> 
                <p class="article-content">notes: {{post.notes}}</p>
            </div>
                
        </article>
    {% endfor %}

{% endblock content %}