{% extends "time_app/base.html" %}
{% block content %}

<h2>Time Submissions for {{user.first_name}}</h2>
<a href="{% url 'selected-view'%}" class="navbar-brand btn btn-outline-info mb-3" > Filter Results </a>
{% if is_paginated %}
<h5 class="mb-4 "> Page {{ page_obj.number }} </h5>
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1"> First </a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}"> Previous</a>
    {% endif %}
    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}"> Next </a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}"> Last </a>
        
    {% endif %}
        
{% endif %}


{% for post in posts %}
<a class= "article-title" href="{% url 'post-detail' post.id %}"> 
    <div class="container-fluid ">
        <article class="media content-section">
            <div class="row">
                <div class="col-4"><p>{{post.client.name}}</p></div>
                <div class="col-3"> <p>{{post.time_spent}}</p></div>
                <div class="col-5"> <p>Notes:{{post.notes}}</p></div>
            </div>
            <div class="row float-left">
                <div class="col-4">{{post.project.name}}</div>
                <div class="col-3"><p> {{post.expenses}} </p> </div>
                <div class="col-5"> expense notes </div>
            </div>
            <div class="row">
                <div class="col-4">{{post.date}}</div>
                <div class="col-3"> (miles)</div>
                <div class="col-5"> i</div>
            </div>
        </article>
    </div>
</a> 
            
        
{% endfor %}  

{% endblock content %}
    
