{% extends "time_app/base.html" %}
{% block content %}
<a href="{% url 'selected-view'%}" class="navbar-brand btn btn-outline-info mb-3" > Filter Results </a>
<h2>Time Submissions from {% if date_start_query %} {{date_start_query}}{% elif not date_end_query %}beginning{% endif %} to {% if date_end_query %}{{date_end_query}} {% elif not date_end_query %} today {% endif %} </h2>
{% if total_hours %}
<h3 class=""> Total Hours: {{total_hours}}</h3>
{% endif %}
{% if total_expenses %}
<h3 class=""> Total Expenses: {{total_expenses}}</h3>
{% endif %}
{% if total_miles %}
<h3 class=""> Total Miles: {{total_miles}}</h3>
{% endif %}



{% if is_paginated %}
<h5 class="mb-4 "> Page {{ page_obj.number }} </h5>
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1"> First </a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}"> Previous</a>
    {% endif %}
    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}"> Next </a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}"> Last </a>
        
    {% endif %}
        
{% endif %}
    {% for post in posts %}
      
            <article class="media content-section">
                {% if user == post.user %}
                <a class= "article-title" href="{% url 'post-detail' post.id %}"> 
                {% else %}

                {% endif %}
                <div class="float-left media content">
                    <div class="mx-auto" style="width: 15em;"  >
                        <p> {{post.user.username}}</p>
                        <p>{{post.date}} </p>
                        <p>{{post.client.name}}</p>
                        <p> {{post.project.name}}<p>
                    </div>
                    <div class="mx-auto" style="width: 15em;">
                    <br>
                    <p>Hours worked: {{post.time_spent}}</p>
                    <p>Expenses: {{post.expenses}}</p>
                    <p>Miles: {{post.miles}}</p>
                    </div>
                    <div class="mx-auto" style="width: 30em;">
                     <br>
                    <p> Hours notes: {{post.notes}}</p>
                    <p> Expense notes: {{post.expense_notes}}</p>
                    <p> Miles notes: {{post.miles_notes}}</p>
                    </div> 
                </div>
                </a>
            </article>
      
    {% endfor %}  

    
    
{% endblock content %}
    
