<h1>Week {{ week|date:'W' }}</h1>

<ul>
    {% for post in object_list %}
        <li> <h2>
                {{ post.date|date:"l - F j, Y" }}: {{ post.time_spent }}
            </h2>
            <h4> {{post.client}} / &emsp; {{post.project}}</h4>
        </li>
    {% endfor %}
</ul>

<p>
    {% if previous_week %}
        Previous Week: {{ previous_week|date:"W" }} of year {{ previous_week|date:"Y" }}
    {% endif %}
    {% if previous_week and next_week %}--{% endif %}
    {% if next_week %}
        Next week: {{ next_week|date:"W" }} of year {{ next_week|date:"Y" }}
    {% endif %}
</p>